$width-card: 200px;

.catalog {
  display: grid;

  grid-template-columns: auto auto auto auto;
  gap: 48px;
  justify-content: center;

  $adaptive:
    "1024px" 3,
    "768px" 2,
    "488px" 1;

  @each $resolution, $column in $adaptive {
    @media (max-width: $resolution) {
      grid-template-columns: repeat($column, $width-card);
    }
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $width-card;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
